# Build and Output Folders
**/bin/
**/obj/
**/publish/
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
**/node_modules/

# Environment / Secret Files
**/appsettings.Development.json
**/appsettings.Local.json

# Operating System Files
.DS_Store
Thumbs.db